@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
.alert_success{
background: mediumseagreen;
padding: 20px 40px;
min-width: 420px;
position: absolute;
right: 0;
top: 10px;
border-radius: 4px;
border-left: 8px solid darkgreen;
overflow: hidden;
opacity: 0;
pointer-events: none;
}
.alert_success.showAlert{
opacity: 1;
pointer-events: auto;
}
.alert_success.show{
animation: show_slide 1s ease forwards;
}
@keyframes show_slide {
0%{
  transform: translateX(100%);
}
40%{
  transform: translateX(-10%);
}
80%{
  transform: translateX(0%);
}
100%{
  transform: translateX(-10px);
}
}
.alert_success.hide{
animation: hide_slide 1s ease forwards;
}
@keyframes hide_slide {
0%{
  transform: translateX(-10px);
}
40%{
  transform: translateX(0%);
}
80%{
  transform: translateX(-10%);
}
100%{
  transform: translateX(100%);
}
}
.alert_success .fa-exclamation-circle{
position: absolute;
left: 20px;
top: 50%;
transform: translateY(-50%);
color: white;
font-size: 30px;
}
.alert_success .msg{
padding: 0 20px;
font-size: 18px;
color: white;
}
.alert_success .close-btn{
position: absolute;
right: 0px;
top: 50%;
transform: translateY(-50%);
background: darkgreen;
padding: 20px 18px;
cursor: pointer;
}
.alert_success .close-btn:hover{
background: darkgreen;
}
.alert_success .close-btn .fas{
color: white;
font-size: 22px;
line-height: 40px;
}


@media screen and (max-width: 767px)
{
  .alert_success{
  background: mediumseagreen;
  padding: 20px 40px;
  min-width: 20px;
  position: fixed;
  top: 10px;
  border-radius: 4px;
  border-left: 8px solid darkgreen;
  overflow: hidden;
  opacity: 0;
  pointer-events: none;
  }

  #okay{
  padding: 0 30px !important;
  font-size: 12px !important;
  color: white;
  }


}
